<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
        <i class="bi bi-safe me-2 fs-4"></i>
        <span class="fw-bold fs-5">Invoice App</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Customers
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" [routerLink]="['/customers/new']"><i class="bi bi-person-plus-fill me-2"></i>New Customer</a></li>
              <li><a class="dropdown-item" [routerLink]="['/customers']"><i class="bi bi-people-fill me-2"></i>All Customers</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Invoices
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" [routerLink]="['/invoices/new']"><i class="bi bi-receipt me-2"></i>New Invoice</a></li>
              <li><a class="dropdown-item" [routerLink]="['/invoices']"><i class="bi bi-receipt-cutoff me-2"></i>All Invoices</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img [src]="user?.imageUrl" [alt]="user?.firstName" width="32" height="32" class="rounded-circle me-2">
              <span class="d-none d-lg-inline"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" [routerLink]="['/profile']"><i class="bi bi-person-circle me-2"></i>{{ user?.firstName }} {{ user?.lastName }} </a></li>
              <li><a class="dropdown-item" (click)="logOut()" href="#"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div> 
  </nav>
  